.footer{
background: #F4F4F4;
display: flex;
align-items: center;
justify-content: space-between;
height: 100px;
padding: 0px 10px;
color: rgba(0,0,0,0.3);
}

.footer-links{
display: flex;
padding: 20px 10px;
align-items: center;
  a{
    margin: 20px
  }
}

.footer-copyright{
display: flex;
align-items: left;
  i{
    margin-left: 10px;
    margin-right: 10px
  }
}
